<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="comingsoon container-fluid content">

      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="hero-wrap">
            <svg class="hero-type" viewBox="0 0 862 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.3 (11970) - http://www.bohemiancoding.com/sketch -->
                <title>Reverb</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Baikal-Headers" sketch:type="MSArtboardGroup" transform="translate(-181.000000, -229.000000)" font-weight="bold" font-family="FFF Tusj" letter-spacing="-10.0000038" sketch:alignment="middle" font-size="250" fill="#FFFFFF">
                        <g id="#1" sketch:type="MSLayerGroup">
                            <text id="Reverb" sketch:type="MSTextLayer">
                                <tspan x="192.072765" y="430">Reverb</tspan>
                            </text>
                        </g>
                    </g>
                </g>
            </svg>
            <!-- <img class="img-responsive hero-type" src="/public/img/Reverb.svg"> -->
            <p>a&nbsp;collaborative&nbsp;music&nbsp;collective</p>
          </div>
        </div>
      </div>

      <div class="row info">
        <div class="col-sm-12 text-center">
          <p>We’re painting for our opening on May 9th</p>
          <p>2112 Charles Street, Baltimore</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <a class="book-btn" target="_blank" href="https://www.facebook.com/annbidextrousbooking?fref=ts">BOOKING AND SHOWS</a>
        </div>
      </div>

      <!-- {{ content }} -->

      <!-- <div class="footer">
        <p>
        </p>
      </div> -->
    </div>

  </body>
</html>
