<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="comingsoon container-fluid content">

      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="hero-wrap">
            <img class="img-responsive hero-type" src="/public/img/Reverb.svg">
            <p>a&nbsp;collaborative&nbsp;music&nbsp;collective</p>
          </div>
        </div>
      </div>

      <div class="row info">
        <div class="col-sm-12 text-center">
          <p>We’re painting for our opening on May 9th</p>
          <p>2112 Charles Street, Baltimore</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <a class="book-btn" target="_blank" href="https://www.facebook.com/annbidextrousbooking?fref=ts">BOOKING AND SHOWS</a>
        </div>
      </div>

      <!-- {{ content }} -->

      <!-- <div class="footer">
        <p>
        </p>
      </div> -->
    </div>

  </body>
</html>
