<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="comingsoon container-fluid content">

      <div class="row">
        <!-- <div class="col-sm-6 text-center">
          <div class="row">
            <div class="hero-wrap">
              <img class="img-responsive hero-type" src="/public/img/Reverb.png">
              <p>a&nbsp;music&nbsp;collective</p>
            </div>
          </div>

          <div class="row info">
            <p>Come see us for our first show on May 9th</p>
            <p>2112 Charles Street, Baltimore</p>
          </div>

          <div class="row">
              <a class="book-btn" target="_blank" href="https://www.facebook.com/annbidextrousbooking?fref=ts">BOOKING AND SHOWS</a>
          </div>
        </div> -->

        <div class="col-sm-12 text-center">
          <div class="row text-center">
              <p class="cominginfo">Web site is coming. Right now we're running booking, events, and everything else on Facebook</p>
          </div>
          <div class="row">
            <div class="fb-page" data-href="https://www.facebook.com/reverbspace" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/reverbspace"><a href="https://www.facebook.com/reverbspace">Reverb</a></blockquote></div></div>
          </div>
        </div>

      </div>
      <div class="row text-right">
        <a class="photos-by" target="_blank" href="https://www.facebook.com/shutterfrequency">Random Photography by Shutter Frequency</a>
      </div>
      <!-- {{ content }} -->

      <!-- <div class="footer">
        <p>
        </p>
      </div> -->
    </div>



  </body>
</html>
